# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\C++ projects\CSD AUTH\Data Structures (NCO-02-03)\dsProject21\dsProject21\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
